.Rproj.user
.Rhistory
.RData
.Ruserdata
.idea
.venv/
__pycache__

# OSX Files
.DS_Store

# manuscript files until submitted to journal
manuscript/

# avoid pushing numerous survey images
data/Satellite